[Unit]
Description=rpi_jukebox server API
After=multi-user.target

[Service]
User=root
Type=simple
Restart=always
ExecStart=/usr/local/bin/jukebox_server

[Install]
WantedBy=multi-user.target
