[Unit]
Description=rpi_jukebox server API
After=default.target

[Service]
User=root
Type=simple
Restart=always
ExecStart=/usr/local/bin/jukebox_server
WantedBy=default.target
