[Unit]
Description=spotibox
After=default.target

[Service]
User=volumio
Type=simple
Restart=always
ExecStart=/usr/local/bin/spotibox

[Install]
WantedBy=multi-user.target
