*
{
	font-size: x-large;
}
.element_forms
{
	display: flex;
	margin: auto
}

.delete
{
	background-color: green;
}
.put
{
	background-color: yellow;
}
.get
{
	background-color: red;
}
#db_list input
{
	background-color: rgba(255, 255, 255, 0);
}
.db_element
{
	display: flex;
	flex-direction: column;
}
.element_title
{
	margin: auto
}
#header
{
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	/*background-color: blue;*/
}
/*#header_content*/
/*{*/
	/*margin: auto;*/
	/*background-color: lime;*/
/*}*/
#footer
{
	display: flex;
	justify-content: center;
}
